{% extends 'base.html.twig' %}
 {% import 'header.html.twig' as header %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
{% endblock %}
{% block title %}Yeti{% endblock %}

{% block body%}
    {{ header.header() }}
   <div class="text-center">
    <h1>Náhodný Yeti</h1><br>
    <p>Yeti, kterého jsem ti náhodně vybral má ID: {{ nahodnyYeti.id }}</p>
    <br>
    <p>Jméno: {{ nahodnyYeti.name }}</p>
    <p>Výška: {{ nahodnyYeti.height }}</p>
    <p>Váha: {{ nahodnyYeti.weight }}</p>
    <p>Věk: {{ nahodnyYeti.age }}</p>
    </div>
    <div class="d-flex justify-content-center">
        <form action="{{ path('yeti_rate') }}" method="post">
            <input type="hidden" name="yeti_id" value="{{ nahodnyYeti.id }}">
                <button type="submit">Ohodnotit</button>
        </form>
    </div>
{% endblock %}